# Created by .ignore support plugin (hsz.mobi)
#.gitignore
.idea/
BPtools/__pycache__/
BPtools/core/__pycache__/
BPtools/trainer/__pycache__/
BPtools/utils/__pycache__/models.cpython-37.pyc
*/__pycache__/*
BPtools/utils/__pycache__/__init__.cpython-37.pyc
BPtools/utils/__pycache__/
*.pyc
log
log/
build/
*.csv
*.xlsx
*.pt

